@{
    Layout = "~/Views/Shared/_AdminpanelLayout.cshtml";
}

<h1>Order</h1>


<table class="table table-hover">
    <thead>
        <tr>
            <th scope="row">
                First Name
            </th>
            <th scope="row">
                Last Name
            </th>
            <th scope="row">
                Address
            </th>
            <th scope="row">
                Email
            </th>
            <th scope="row">
                Phone Number
            </th>
            <th scope="row">
                Status
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Order in Model)
        {
            <tr>
                <td>@Order.FirstName</td>
                <td>@Order.LastName</td>
                <td>@Order.Address</td>
                <td>@Order.Email</td>
                <td>@Order.PhoneNumber</td>
                <td>@Order.Status</td>
                <td>
                    <a class="btn btn-primary mb-2" asp-action="Edit" asp-controller="Order" asp-route-id="@Order.Id">
                        <i class="bi bi-pencil-square"></i> Edit
                    </a>
                    <a class="btn btn-primary mb-2" asp-action="Detail" asp-controller="Order" asp-route-id="@Order.Id">
                        Details
                    </a>
                </td>
            </tr>
        }

    </tbody>
</table>


